<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech to Text Recognition</title>
</head>

<body>
    <script>
        function Speech() {
            var output = document.getElementById("output");
            var action = document.getElementById("action");
            var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
            var recognition = new SpeechRecognition();
            recognition.onstart = function () {
                action.innerHTML = "<small>listening...</small>";
            }
            recognition.onspeechend = function () {
                action.innerHTML = "<small>you said...</small>";
            }
            recognition.onresult = function (event) {
                console.log(event.results);
                var transcript = event.results[0][0].transcript;
                output.innerHTML = transcript;
            }

            recognition.start();
        }

        async function Submit() {
            const text1 = document.getElementById('Text').value;
            const text2 = document.getElementById('output').innerText;

            const res = await fetch('/compare/', {
                headers: { "content-type": "application/json; charset=UTF-8" },
                body: JSON.stringify({
                    text1,
                    text2
                }),
                method: "POST",
                mode: "cors"
            });

            const data = res.json();

            // console.log(await data);

            document.getElementById('result').innerText = Math.round((await data).weighted_avg) + ' %';
        }
    </script>
    <p>
        <button type="button" onclick="Speech()">Speak</button>
        <span id="action"></span>
    </p>
    <div id="output"></div>
    <p>
        <textarea name="Original Data" id="Text" cols="30" rows="10" placeholder="Your Text"></textarea>
    </p>
    <p>
        <button type="submit" onclick="Submit()">Submit</button>
        <span id="result"></span>
    </p>
</body>

</html>